$st-white: #ffffff                //standard white
$st-black: #000000                //standard black

$gray-text-color: #777777
$darkgray-text-color: #222222
$green-bg-btn: #7cc576
$gray-description: #cccccc

@media screen and (min-width: 1024px)
  header
    height: 8.5rem
    width: 70%
    margin: auto
    font-family: "Montserrat"
    .logo
      background-image: url("/assets/Logo.png")
      width: 10.5rem
      height: 2.2rem
    ul
      display: block
      li
        display: inline
        +font-details(1.024rem, 3rem, 0)
        margin-left: 2.6rem
        text-transform: uppercase
        color: $gray-text-color
      li:hover
        color: $darkgray-text-color
    .hamburger-menu
      display: none
  main
    .title
      background-color: $st-black
      background-image: url("/assets/title-bg.png") 
      background-position: center center
      background-repeat: no-repeat
      background-size: cover 
      // opacity: 0.5
      width: 100%
      // min-height: 38.8rem
      
      padding: 7rem 0 7.5rem 0
      box-sizing: border-box
      h1
        +font-details(4.389rem, 4.754rem, -0.05)
        color: $st-white
        margin:  0 0 1.8rem 0
      .header-description
        margin: 0 0 4rem 0

    .services
      padding: 7rem 0 7.5rem 0
      .row
        justify-content: center
        .col
          width: 22%
      .header-description
        margin: 0.5rem 0 6.3rem 0
        color: $gray-text-color
      h3
        color: $darkgray-text-color
        margin: 2.6rem 0 0.8rem 0
      .service-desc-box
        color: $gray-text-color
        width: 23rem
        margin: auto
        +font-details(1.024rem, normal, -0.025)

    .relax
      text-align: left
      align-items: stretch
      .col
        flex-grow: 1

      h2
        +font-details(2.926rem, normal, -0.05)
        color: $st-white
        margin-bottom: 2.5rem
        text-align: left
      .header-description
        width: 50rem
        text-align: left
        margin-bottom: 1.7rem

      .gear-box
        width: 30.76%
        min-height: 40rem
        background-color: $gray-bg-gear
        background-image: url('/assets/gear.png')
        background-repeat: no-repeat
        background-position: right
    
      .relax-box
        padding: 7rem 0 7.5rem 7.3rem
        width: 60%
        height: 100%
        margin: 0
        background-image: url("/assets/relax-bg.png") 
        background-position: center center
        background-repeat: no-repeat
        background-size: cover 
      ul 
        padding: 0
        margin: 0 0 3rem 0
        li
          background: url('/assets/checkmark.png') no-repeat left top
          padding: 0.4rem 0 1.4rem 4.2rem
          margin: 0
          list-style: none
          font-family: "Roboto Slab"
          +font-details(1.17rem, normal, -0.025)
          color: $gray-description

    .latest
      padding: 7rem 0 7.5rem 0
      text-align: left
      background-image: url('/assets/ipad.png')
      background-repeat: no-repeat
      background-position: right bottom
      h3 
        text-align: left
        font-family: "Montserrat"
        margin-bottom: 1.5rem
      .header-description
        margin: 0 0 6rem 0
        color: $gray-text-color
      .latest-box
        padding-left: 16.9rem
      ul
        padding: 0
        margin: 1rem 0 1.5rem 0
        display: inline-block
        li
          img
            margin: 1rem 1.2rem 0 0
          h3
            margin: 0.5rem 0 0 0
            
      .common-paragraph

        +font-details(1.17rem, normal, -0.025)
        font-family: "Roboto Slab"
        color: $gray-text-color
        margin: 0
        width: 33rem

      .details-url
        display: block
        color: $green-bg-btn
        +font-details(1.17rem, normal, -0.025)
        background-image: url('/assets/arrow-rightg.png')
        background-repeat: no-repeat
        background-position: right
        padding: 0 0 0 0
        margin: 1.6rem 0 0 0
        text-transform: uppercase
        font-weight: 600
        font-family: "Montserrat"
        text-decoration: none
        width: 10.5rem
        height: 1.3rem


      .details-url:hover
        color: $gray-text-color
        background-image: url('/assets/arrow-rightb.png')
        background-repeat: no-repeat
        background-position: right
        padding: 0 0 0 0

    .culture
      background-color: $gray-bg-culture
      padding: 7rem 0 7.2rem 0
      .header-description
        color: $gray-text-color
      #vaules
        justify-content: center
      #pictures
        justify-content: center
        margin: 6.2rem 0.5rem 1.8rem 0
        width: 100%
      #desciptions
        justify-content: center
        width: 100%
        .col
          width: 20%
          text-align: center
          p 
            margin: auto
            width: 87%

    .clients
      padding: 7rem 0 5.5rem 0
      text-align: center
      .row
        justify-content: center
        align-items: middle
      .header-description
        color: $gray-text-color
        margin-bottom: 6.2rem
      .clients-image
        border-radius: 50%
        background-color: $gray-bg-culture
        width: 16rem
        height: 16rem
        margin: 0 0 3rem 0
        background-image: url("/assets/portrait.jpg") 
        background-position: center center
        background-repeat: no-repeat
        background-size: cover 
      .clients-quote
        background-color: $gray-bg-culture
        width: 47rem
        height: 12.6rem
        margin-bottom: 3rem
      #client-one
      #client-two
      .arrow-left 
        width: 0
        height: 0
        border-top: 9px solid transparent
        border-bottom: 9px solid transparent
        border-right: 15px solid $gray-bg-culture
        margin-left: 2rem
        margin-bottom: 3rem
      .arrow-right 
        width: 0
        height: 0
        border-top: 9px solid transparent
        border-bottom: 9px solid transparent
        border-left: 15px solid $gray-bg-culture
        margin-right: 2rem
        margin-bottom: 3rem
      .quote
        margin: 0 3rem 0 3rem
        padding: 2.8rem 0 0 0 
        .quote-author
          margin-top: 1.1rem

    .next-project
      background-color: $green-bg-btn
      color: $st-white
      padding: 4.7rem 0 5.1rem 0
      .btn-transparent
        margin-top: 1.4rem

    .partners
      justify-content: center
      align-items: middle
      .partners-logo
        margin: 4.5rem 1.5rem 4.5rem 1.5rem

    .latest-media
      background-color: $darkgray-text-color
      justify-content: center
      align-items: flex-start
      color: $st-white
      text-align: left
      padding: 4.1rem 0 4.1rem 0
      .col
        width: 25rem
      h3
        text-align: left
        margin-bottom: 1.9rem
      li
        justify-content: flex-start
        margin: 0 0 1.2rem 0
        .latest-media-icons
          width: 1.8rem
          margin-right: 1.2rem
          align-self: flex-start
        .latest-media-data
          width: 80%
          align-self: flex-start
      #latest-posts
        margin: 0 2rem 0 0
        .latest-media-data
          flex-grow: 1


  footer
    align-items: middle
    width: 100%
    height: 7.4rem
    align-items: center
    justify-content: space-around !important
    +font-details(1.024rem, 1.609rem, -0.025)
    .footer-text
      text-align: center
      font-family: "Montserrat"
    .col 
      width: 30%
    .social-media
      justify-content: center
    .soc-ico  
      background-repeat: no-repeat
      background-position: center center
      width: 3rem
      height: 3rem
      margin: 0 0.4rem 0 0.4rem
    .twitter
      background-image: url('/assets/twitterb.png')
    .twitter:hover
      background-image: url('/assets/twitter.png')
    .facebook
      background-image: url('/assets/facebookb.png')
    .facebook:hover
      background-image: url('/assets/facebook.png')
    .pinterest
      background-image: url('/assets/pinterestb.png')
    .pinterest:hover
      background-image: url('/assets/pinterest.png')
    .google
      background-image: url('/assets/googleb.png')
    .google:hover
      background-image: url('/assets/google.png')


