html,body
  margin: 0
  padding: 0
  width: 100%
  font-size: 10px
  font-family: "Montserrat"

section
  width: 100%
  text-align: center
button
  outline: none
ul,p
  list-style: none
  margin: 0
  padding: 0

h1, h2, h3, h4, h5
  text-transform: uppercase
  margin: 0
  text-align: center
a:link, a:visited
  text-decoration: none
  color: $gray-text-color
a:hover
  color: $darkgray-text-color
h2
  +font-details(2.926rem, 5.486rem, -0.05)
  font-weight: bold

h3
  +font-details(1.317rem, normal, -0.025)
.header-description
  +font-details(1.463rem, 1.5rem, -0.025)
  color: $gray-description
  font-family: "Roboto Slab"
  text-align: center


.client
  .clients-image
    background-image: url("/assets/portrait.jpg") 
    background-position: center center
    background-repeat: no-repeat
    background-size: cover 
.display-none
  display: none
.center-element
  text-align: center
  margin: auto
.row
  display: flex
  flex-direction: row
  -webkit-flex-wrap: wrap
  flex-wrap: wrap
  justify-content: space-between
  align-items: center
  .col
    flex-grow: 0
    flex-shrink: 0
.black-background
  background-color: $st-black

.btn-green
  font-family: "Montserrat"
  font-weight: bold
  +font-details(1.17rem, 3.234rem, -0.025)
  color: $st-white
  text-transform: uppercase
  background-color: $green-bg-btn
  min-width: 14.8rem
  height: 4.4rem
  border-radius: 25px
  border: 0
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7)
.btn-green:hover
  color: $darkgray-text-color
  background-color: $st-white
.btn-transparent
  font-family: "Montserrat"
  background-color: transparent
  border: 2px solid $st-white
  color: $st-white
  +font-details(1.317rem, 3rem, -0.025)
  border-radius: 5px
  font-weight: bold
  height: 3.8rem
  width: 13rem
.btn-transparent:hover
  background-color: $st-white
  color: $green-bg-btn
.green-text
  color: $green-bg-btn


.latest-paragraph
  +font-details(1.17rem, 1.609rem, 0)
  font-family: "Roboto Slab"
  margin-bottom: 0.2rem
  color: $gray-paragraph

.hover-green:hover
  color: $green-bg-btn
.bold
  font-weight: bold
.latest-time
  color: $gray-paragraph
  +font-details(0.878rem, 1.609rem, 0)
  font-family: "Roboto Slab"

.vertical-align-self
  margin-top: 0.3rem

.horizontal-line
  border-bottom: 2px solid $gray-text-color
  height: 1px
  width: 12.4rem
  margin: 0 3.1rem 0 3.1rem

.quote-author
  color: $green-bg-btn
  +font-details(1.317rem, 2.633rem, 0)
  font-family: "Roboto Slab"
  text-align: center


.quote-text
  color: $gray-text-color
  +font-details(1.609rem, 2.048rem, 0)
  font-family: "Roboto Slab"
  text-align: left