@media only screen and (max-device-width: 320px), (max-width: 768px)

  .header-description
    +font-details(1.2rem, 1.5rem, -0.025)
  h2
    +font-details(2.3rem, normal, -0.05)
    width: 80%
    margin: auto
  // header
  .page-header
    height: 8.5rem
    width: 100%
    margin: auto
    font-family: "Montserrat"
    .mobile-logo
      width: 100%
    .row
      align-items: middle
      justify-content: space-around
      height: 100%
      .logo
        background-image: url("/assets/Logo.png")
        width: 10.5rem
        height: 2.2rem
      .hamburger-menu
        border: none
        background-color: transparent
        img 
          width: 20px
          height: auto
          margin-top: 0.1rem
        .ico-hamburger
        .ico-close
          display: none 
        
    nav 
      display: none
      ul
    
  .nav-opened
    position: absolute
    top: 0
    width: 100%
    background-color: $st-white

    .row
      .hamburger-menu
        border: none
        background-color: transparent
        img 
          width: 20px
          height: auto
        .ico-hamburger
          display: none 
        .ico-close
          display: block
    nav 
      display: block
      background-color: $st-white
      width: 100%
      text-align: center

      ul
        li
          padding: 2.1rem 0 2.1rem 0
          +font-details(2rem, 2rem, -0.025)
          border-bottom: 1px solid $gray-paragraph

  main
    .title
      background-color: $st-black
      background-image: url("/assets/title-bg.png") 
      background-position: center center
      background-repeat: no-repeat
      background-size: cover 
      // opacity: 0.5
      width: 100%
      // min-height: 38.8rem
      
      padding: 7rem 0 7.5rem 0
      box-sizing: border-box
      h1
        +font-details(3rem, 3.5rem, -0.05)
        color: $st-white
        margin: auto
        margin-bottom: 1.8rem
        max-width: 30rem
      .header-description
        margin: 0 0 4rem 0

    .services
      padding: 7rem 0 5.5rem 0
      .row
        flex-direction: column
        justify-content: center
        align-items: center
        .col
          width: 80%
          text-align: left
          margin-bottom: 2.5rem
          img 
            float: left
          .mobile-ico-positioner
            margin-left: 0.45rem
      h2
        +font-details(2.3rem, normal, -0.05)
        max-width: 20rem
        margin: auto
      .header-description
        margin: 2rem 0 6.3rem 0
        color: $gray-text-color
      h3
        color: $darkgray-text-color
        margin: 0.8rem 0 0.8rem 6rem
        text-align: left


      .service-desc-box
        display: none

    .relax
      text-align: left
      align-items: stretch
      padding-left: 0
      .col
        flex-grow: 1
      h2
        color: $st-white
        margin: auto
        margin-bottom: 2.5rem
        text-align: center
        max-width: 20rem
      .header-description
        display: none

      .gear-box
        display: none
    
      .relax-box
        padding: 7rem 0 7.5rem 0
        height: 100%
        margin: 0
        background-image: url("/assets/relax-bg.png") 
        background-position: center center
        background-repeat: no-repeat
        background-size: cover 
        text-align: center
          
      ul 
        padding: 0
        margin: auto
        margin-bottom: 3rem
        max-width: 70%
        text-align: left
        li
          background: url('/assets/checkmark.png') no-repeat left top
          padding: 0.4rem 0 1.4rem 4.2rem
          margin: 0
          list-style: none
          font-family: "Roboto Slab"
          +font-details(1.17rem, normal, -0.025)
          color: $gray-description

    .latest
      padding: 7rem 0 7.5rem 0
      text-align: left
      // background-image: url('/assets/ipad.png')
      background-repeat: no-repeat
      background-position: right bottom
      h3 
        text-align: left
        font-family: "Montserrat"
        margin: auto
        width: 80%
        margin-bottom: 1.5rem
      h2
        margin-bottom: 5rem

      .header-description
        display: none
      .latest-box
        ul
          padding: 0
          width: 80%
          margin: auto
          margin-top: 1rem
          margin-bottom: 1.5rem
          display: block
          li
            .icon-list
              width: 25%
            .description-list
              width: 75%
            img
              margin: 1rem 1.2rem 0 0
            h3
              margin: 0.5rem 0 0 0
            .common-paragraph
              margin: 0
              text-align: left

            
      .common-paragraph

        +font-details(1.17rem, normal, -0.025)
        font-family: "Roboto Slab"
        color: $gray-text-color
        margin: auto
        width: 80%
        text-shadow: -1px -1px 0px $st-white

      .details-url
        display: block
        color: $green-bg-btn
        +font-details(1.17rem, normal, -0.025)
        background-image: url('/assets/arrow-rightg.png')
        background-repeat: no-repeat
        background-position: right
        padding: 0 0 0 0
        width: 80%
        margin: 1.6rem 0 0 10%
        text-transform: uppercase
        font-weight: 600
        font-family: "Montserrat"
        text-decoration: none
        width: 10.5rem
        height: 1.3rem



      .details-url:hover
        color: $gray-text-color
        background-image: url('/assets/arrow-rightb.png')
        background-repeat: no-repeat
        background-position: right
        padding: 0 0 0 0

    .culture
      background-color: $gray-bg-culture
      padding: 7rem 0 7.2rem 0
      .horizontal-line
        display: none
      .header-description
        color: $gray-text-color
      #vaules
        flex-direction: column
        justify-content: flex-start
        align-items: center
        
        .col 
          width: 40%
      #pictures
        flex-direction: column
        justify-content: center
        margin: 6.2rem 0.5rem 1.8rem 0
        width: 20%
      #desciptions
        flex-direction: column
        justify-content: center
        width: 75%
        margin: 6.2rem 0.5rem 1.8rem 0
        .col
          text-align: left
          align-self: center
          margin-bottom: 0.85rem
          margin-top: 0.75rem
          h3 
            text-align: left
          p 
            width: 87%

    .clients
      padding: 7rem 0 5.5rem 0
      text-align: center
      .row
        justify-content: center
        align-items: middle
      .header-description
        color: $gray-text-color
        margin-bottom: 6.2rem
      .clients-image
        border-radius: 50%
        background-color: $gray-bg-culture
        width: 16rem
        height: 16rem
        margin: auto
        margin-bottom: 3rem
        background-image: url("/assets/portrait.jpg") 
        background-position: center center
        background-repeat: no-repeat
        background-size: cover 
      .clients-quote
        background-color: $gray-bg-culture
        padding-bottom: 2rem
        width: 80%
        margin: auto
        margin-bottom: 3rem
      #client-one
      #client-two
        order: 2
      .arrow-left,
      .arrow-right 
        display: none
      .quote
        margin: 0 3rem 0 3rem
        padding: 2.8rem 0 0 0 
        .quote-author
          margin-top: 1.1rem

    .next-project
      background-color: $green-bg-btn
      color: $st-white
      padding: 4.7rem 0 5.1rem 0
      h2
        margin-bottom: 2rem

      .btn-transparent
        margin-top: 1.4rem

    .partners
      justify-content: center
      align-items: middle
      padding: 2rem 0 2rem 0
      .partners-logo
        margin: 2.5rem 1.5rem 2.5rem 1.5rem

    .latest-media
      background-color: $darkgray-text-color
      justify-content: center
      align-items: flex-start
      color: $st-white
      text-align: left
      padding: 4.1rem 0 4.1rem 0
      .col
        width: 25rem
      h3
        text-align: center
        margin-bottom: 2.5rem
      .latest-mobile-margin    
        margin-bottom: 1.5rem
        
      ul  
        li
          justify-content: flex-start
          margin: 0 0 1.2rem 0
          .latest-media-icons
            width: 1.8rem
            margin-right: 1.2rem
            align-self: flex-start
          .latest-media-data
            width: 80%
            align-self: flex-start
      #latest-posts
        margin: 0 2rem 0 0
        .latest-media-data
          flex-grow: 1


  footer
    align-items: middle
    width: 100%
    height: 7.4rem
    align-items: center
    justify-content: space-around !important
    +font-details(1.024rem, 1.609rem, -0.025)
    .footer-text
      text-align: center
      font-family: "Montserrat"
    .empty-filler
      display: none
    .col 
      width: 45%
    .social-media
      justify-content: center
    .soc-ico  
      background-repeat: no-repeat
      background-position: center center
      width: 3rem
      height: 3rem
      margin: 0 0.2rem 0 0.2rem
    .twitter
      background-image: url('/assets/twitterb.png')
    .twitter:hover
      background-image: url('/assets/twitter.png')
    .facebook
      background-image: url('/assets/facebookb.png')
    .facebook:hover
      background-image: url('/assets/facebook.png')
    .pinterest
      background-image: url('/assets/pinterestb.png')
    .pinterest:hover
      background-image: url('/assets/pinterest.png')
    .google
      background-image: url('/assets/googleb.png')
    .google:hover
      background-image: url('/assets/google.png')


