html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 10px;
  font-family: "Montserrat"; }

section {
  width: 100%;
  text-align: center; }

button {
  outline: none; }

ul, p {
  list-style: none;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  margin: 0;
  text-align: center; }

a:link, a:visited {
  text-decoration: none;
  color: #777777; }

a:hover {
  color: #222222; }

h2 {
  font-size: 2.926rem;
  line-height: 5.486rem;
  letter-spacing: -0.05;
  font-weight: bold; }

h3 {
  font-size: 1.317rem;
  line-height: normal;
  letter-spacing: -0.025; }

.header-description {
  font-size: 1.463rem;
  line-height: 1.5rem;
  letter-spacing: -0.025;
  color: #cccccc;
  font-family: "Roboto Slab";
  text-align: center; }

.client .clients-image {
  background-image: url("/assets/portrait.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.display-none {
  display: none; }

.center-element {
  text-align: center;
  margin: auto; }

.row {
  display: flex;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  .row .col {
    flex-grow: 0;
    flex-shrink: 0; }

.black-background {
  background-color: #000000; }

.btn-green {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.17rem;
  line-height: 3.234rem;
  letter-spacing: -0.025;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #7cc576;
  min-width: 14.8rem;
  height: 4.4rem;
  border-radius: 25px;
  border: 0;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7); }

.btn-green:hover {
  color: #222222;
  background-color: #ffffff; }

.btn-transparent {
  font-family: "Montserrat";
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 1.317rem;
  line-height: 3rem;
  letter-spacing: -0.025;
  border-radius: 5px;
  font-weight: bold;
  height: 3.8rem;
  width: 13rem; }

.btn-transparent:hover {
  background-color: #ffffff;
  color: #7cc576; }

.green-text {
  color: #7cc576; }

.latest-paragraph {
  font-size: 1.17rem;
  line-height: 1.609rem;
  letter-spacing: 0;
  font-family: "Roboto Slab";
  margin-bottom: 0.2rem;
  color: #ececec; }

.hover-green:hover {
  color: #7cc576; }

.bold {
  font-weight: bold; }

.latest-time {
  color: #ececec;
  font-size: 0.878rem;
  line-height: 1.609rem;
  letter-spacing: 0;
  font-family: "Roboto Slab"; }

.vertical-align-self {
  margin-top: 0.3rem; }

.horizontal-line {
  border-bottom: 2px solid #777777;
  height: 1px;
  width: 12.4rem;
  margin: 0 3.1rem 0 3.1rem; }

.quote-author {
  color: #7cc576;
  font-size: 1.317rem;
  line-height: 2.633rem;
  letter-spacing: 0;
  font-family: "Roboto Slab";
  text-align: center; }

.quote-text {
  color: #777777;
  font-size: 1.609rem;
  line-height: 2.048rem;
  letter-spacing: 0;
  font-family: "Roboto Slab";
  text-align: left; }

@media only screen and (max-device-width: 320px), (max-width: 768px) {
  .header-description {
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: -0.025; }
  h2 {
    font-size: 2.3rem;
    line-height: normal;
    letter-spacing: -0.05;
    width: 80%;
    margin: auto; }
  .page-header {
    height: 8.5rem;
    width: 100%;
    margin: auto;
    font-family: "Montserrat"; }
    .page-header .mobile-logo {
      width: 100%; }
    .page-header .row {
      align-items: middle;
      justify-content: space-around;
      height: 100%; }
      .page-header .row .logo {
        background-image: url("/assets/Logo.png");
        width: 10.5rem;
        height: 2.2rem; }
      .page-header .row .hamburger-menu {
        border: none;
        background-color: transparent; }
        .page-header .row .hamburger-menu img {
          width: 20px;
          height: auto;
          margin-top: 0.1rem; }
        .page-header .row .hamburger-menu .ico-close {
          display: none; }
    .page-header nav {
      display: none; }
  .nav-opened {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #ffffff; }
    .nav-opened .row .hamburger-menu {
      border: none;
      background-color: transparent; }
      .nav-opened .row .hamburger-menu img {
        width: 20px;
        height: auto; }
      .nav-opened .row .hamburger-menu .ico-hamburger {
        display: none; }
      .nav-opened .row .hamburger-menu .ico-close {
        display: block; }
    .nav-opened nav {
      display: block;
      background-color: #ffffff;
      width: 100%;
      text-align: center; }
      .nav-opened nav ul li {
        padding: 2.1rem 0 2.1rem 0;
        font-size: 2rem;
        line-height: 2rem;
        letter-spacing: -0.025;
        border-bottom: 1px solid #ececec; }
  main .title {
    background-color: #000000;
    background-image: url("/assets/title-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 7rem 0 7.5rem 0;
    box-sizing: border-box; }
    main .title h1 {
      font-size: 3rem;
      line-height: 3.5rem;
      letter-spacing: -0.05;
      color: #ffffff;
      margin: auto;
      margin-bottom: 1.8rem;
      max-width: 30rem; }
    main .title .header-description {
      margin: 0 0 4rem 0; }
  main .services {
    padding: 7rem 0 5.5rem 0; }
    main .services .row {
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      main .services .row .col {
        width: 80%;
        text-align: left;
        margin-bottom: 2.5rem; }
        main .services .row .col img {
          float: left; }
        main .services .row .col .mobile-ico-positioner {
          margin-left: 0.45rem; }
    main .services h2 {
      font-size: 2.3rem;
      line-height: normal;
      letter-spacing: -0.05;
      max-width: 20rem;
      margin: auto; }
    main .services .header-description {
      margin: 2rem 0 6.3rem 0;
      color: #777777; }
    main .services h3 {
      color: #222222;
      margin: 0.8rem 0 0.8rem 6rem;
      text-align: left; }
    main .services .service-desc-box {
      display: none; }
  main .relax {
    text-align: left;
    align-items: stretch;
    padding-left: 0; }
    main .relax .col {
      flex-grow: 1; }
    main .relax h2 {
      color: #ffffff;
      margin: auto;
      margin-bottom: 2.5rem;
      text-align: center;
      max-width: 20rem; }
    main .relax .header-description {
      display: none; }
    main .relax .gear-box {
      display: none; }
    main .relax .relax-box {
      padding: 7rem 0 7.5rem 0;
      height: 100%;
      margin: 0;
      background-image: url("/assets/relax-bg.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center; }
    main .relax ul {
      padding: 0;
      margin: auto;
      margin-bottom: 3rem;
      max-width: 70%;
      text-align: left; }
      main .relax ul li {
        background: url("/assets/checkmark.png") no-repeat left top;
        padding: 0.4rem 0 1.4rem 4.2rem;
        margin: 0;
        list-style: none;
        font-family: "Roboto Slab";
        font-size: 1.17rem;
        line-height: normal;
        letter-spacing: -0.025;
        color: #cccccc; }
  main .latest {
    padding: 7rem 0 7.5rem 0;
    text-align: left;
    background-repeat: no-repeat;
    background-position: right bottom; }
    main .latest h3 {
      text-align: left;
      font-family: "Montserrat";
      margin: auto;
      width: 80%;
      margin-bottom: 1.5rem; }
    main .latest h2 {
      margin-bottom: 5rem; }
    main .latest .header-description {
      display: none; }
    main .latest .latest-box ul {
      padding: 0;
      width: 80%;
      margin: auto;
      margin-top: 1rem;
      margin-bottom: 1.5rem;
      display: block; }
      main .latest .latest-box ul li .icon-list {
        width: 25%; }
      main .latest .latest-box ul li .description-list {
        width: 75%; }
      main .latest .latest-box ul li img {
        margin: 1rem 1.2rem 0 0; }
      main .latest .latest-box ul li h3 {
        margin: 0.5rem 0 0 0; }
      main .latest .latest-box ul li .common-paragraph {
        margin: 0;
        text-align: left; }
    main .latest .common-paragraph {
      font-size: 1.17rem;
      line-height: normal;
      letter-spacing: -0.025;
      font-family: "Roboto Slab";
      color: #777777;
      margin: auto;
      width: 80%;
      text-shadow: -1px -1px 0px #ffffff; }
    main .latest .details-url {
      display: block;
      color: #7cc576;
      font-size: 1.17rem;
      line-height: normal;
      letter-spacing: -0.025;
      background-image: url("/assets/arrow-rightg.png");
      background-repeat: no-repeat;
      background-position: right;
      padding: 0 0 0 0;
      width: 80%;
      margin: 1.6rem 0 0 10%;
      text-transform: uppercase;
      font-weight: 600;
      font-family: "Montserrat";
      text-decoration: none;
      width: 10.5rem;
      height: 1.3rem; }
    main .latest .details-url:hover {
      color: #777777;
      background-image: url("/assets/arrow-rightb.png");
      background-repeat: no-repeat;
      background-position: right;
      padding: 0 0 0 0; }
  main .culture {
    background-color: #f9f9f9;
    padding: 7rem 0 7.2rem 0; }
    main .culture .horizontal-line {
      display: none; }
    main .culture .header-description {
      color: #777777; }
    main .culture #vaules {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
      main .culture #vaules .col {
        width: 40%; }
    main .culture #pictures {
      flex-direction: column;
      justify-content: center;
      margin: 6.2rem 0.5rem 1.8rem 0;
      width: 20%; }
    main .culture #desciptions {
      flex-direction: column;
      justify-content: center;
      width: 75%;
      margin: 6.2rem 0.5rem 1.8rem 0; }
      main .culture #desciptions .col {
        text-align: left;
        align-self: center;
        margin-bottom: 0.85rem;
        margin-top: 0.75rem; }
        main .culture #desciptions .col h3 {
          text-align: left; }
        main .culture #desciptions .col p {
          width: 87%; }
  main .clients {
    padding: 7rem 0 5.5rem 0;
    text-align: center; }
    main .clients .row {
      justify-content: center;
      align-items: middle; }
    main .clients .header-description {
      color: #777777;
      margin-bottom: 6.2rem; }
    main .clients .clients-image {
      border-radius: 50%;
      background-color: #f9f9f9;
      width: 16rem;
      height: 16rem;
      margin: auto;
      margin-bottom: 3rem;
      background-image: url("/assets/portrait.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; }
    main .clients .clients-quote {
      background-color: #f9f9f9;
      padding-bottom: 2rem;
      width: 80%;
      margin: auto;
      margin-bottom: 3rem; }
    main .clients #client-two {
      order: 2; }
    main .clients .arrow-left,
    main .clients .arrow-right {
      display: none; }
    main .clients .quote {
      margin: 0 3rem 0 3rem;
      padding: 2.8rem 0 0 0; }
      main .clients .quote .quote-author {
        margin-top: 1.1rem; }
  main .next-project {
    background-color: #7cc576;
    color: #ffffff;
    padding: 4.7rem 0 5.1rem 0; }
    main .next-project h2 {
      margin-bottom: 2rem; }
    main .next-project .btn-transparent {
      margin-top: 1.4rem; }
  main .partners {
    justify-content: center;
    align-items: middle;
    padding: 2rem 0 2rem 0; }
    main .partners .partners-logo {
      margin: 2.5rem 1.5rem 2.5rem 1.5rem; }
  main .latest-media {
    background-color: #222222;
    justify-content: center;
    align-items: flex-start;
    color: #ffffff;
    text-align: left;
    padding: 4.1rem 0 4.1rem 0; }
    main .latest-media .col {
      width: 25rem; }
    main .latest-media h3 {
      text-align: center;
      margin-bottom: 2.5rem; }
    main .latest-media .latest-mobile-margin {
      margin-bottom: 1.5rem; }
    main .latest-media ul li {
      justify-content: flex-start;
      margin: 0 0 1.2rem 0; }
      main .latest-media ul li .latest-media-icons {
        width: 1.8rem;
        margin-right: 1.2rem;
        align-self: flex-start; }
      main .latest-media ul li .latest-media-data {
        width: 80%;
        align-self: flex-start; }
    main .latest-media #latest-posts {
      margin: 0 2rem 0 0; }
      main .latest-media #latest-posts .latest-media-data {
        flex-grow: 1; }
  footer {
    align-items: middle;
    width: 100%;
    height: 7.4rem;
    align-items: center;
    justify-content: space-around !important;
    font-size: 1.024rem;
    line-height: 1.609rem;
    letter-spacing: -0.025; }
    footer .footer-text {
      text-align: center;
      font-family: "Montserrat"; }
    footer .empty-filler {
      display: none; }
    footer .col {
      width: 45%; }
    footer .social-media {
      justify-content: center; }
    footer .soc-ico {
      background-repeat: no-repeat;
      background-position: center center;
      width: 3rem;
      height: 3rem;
      margin: 0 0.2rem 0 0.2rem; }
    footer .twitter {
      background-image: url("/assets/twitterb.png"); }
    footer .twitter:hover {
      background-image: url("/assets/twitter.png"); }
    footer .facebook {
      background-image: url("/assets/facebookb.png"); }
    footer .facebook:hover {
      background-image: url("/assets/facebook.png"); }
    footer .pinterest {
      background-image: url("/assets/pinterestb.png"); }
    footer .pinterest:hover {
      background-image: url("/assets/pinterest.png"); }
    footer .google {
      background-image: url("/assets/googleb.png"); }
    footer .google:hover {
      background-image: url("/assets/google.png"); } }

@media (min-width: 768px) and (max-width: 1024px), (min-device-width: 768px) and (max-device-width: 1024px) {
  header {
    height: 8.5rem;
    width: 70%;
    margin: auto;
    font-family: "Montserrat"; }
    header .hamburger-menu {
      display: none; }
    header .logo {
      background-image: url("/assets/Logo.png");
      width: 10.5rem;
      height: 2.2rem; }
    header ul {
      display: block; }
      header ul li {
        display: inline;
        font-size: 1.024rem;
        line-height: 3rem;
        letter-spacing: 0;
        margin-left: 2.6rem;
        text-transform: uppercase;
        color: #777777; }
      header ul li:hover {
        color: #222222; }
  main .title {
    background-color: #000000;
    background-image: url("/assets/title-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 7rem 0 7.5rem 0;
    box-sizing: border-box; }
    main .title h1 {
      font-size: 4.389rem;
      line-height: 4.754rem;
      letter-spacing: -0.05;
      color: #ffffff;
      margin: 0 0 1.8rem 0; }
    main .title .header-description {
      margin: 0 0 4rem 0; }
  main .services {
    padding: 7rem 0 5.5rem 0; }
    main .services .row {
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      main .services .row .col {
        width: 80%;
        text-align: left;
        margin-bottom: 2.5rem; }
        main .services .row .col img {
          float: left;
          height: 5rem;
          width: auto; }
        main .services .row .col .mobile-ico-positioner {
          margin-left: 0.8rem; }
    main .services h2 {
      font-size: 2.3rem;
      line-height: normal;
      letter-spacing: -0.05;
      max-width: 20rem;
      margin: auto; }
    main .services .header-description {
      margin: 2rem 0 6.3rem 0;
      color: #777777; }
    main .services h3 {
      color: #222222;
      margin: 0rem 0 0.8rem 7rem;
      text-align: left; }
    main .services .service-desc-box {
      margin: 0.8rem 0 0.8rem 7rem; }
  main .relax {
    text-align: left;
    align-items: stretch; }
    main .relax .col {
      flex-grow: 1; }
    main .relax h2 {
      font-size: 2.926rem;
      line-height: normal;
      letter-spacing: -0.05;
      color: #ffffff;
      margin-bottom: 2.5rem;
      text-align: left; }
    main .relax .header-description {
      width: 50rem;
      text-align: left;
      margin-bottom: 1.7rem; }
    main .relax .gear-box {
      width: 30.76%;
      min-height: 40rem;
      background-color: #E9E9E9;
      background-image: url("/assets/gear.png");
      background-repeat: no-repeat;
      background-position: right; }
    main .relax .relax-box {
      padding: 7rem 0 7.5rem 7.3rem;
      width: 60%;
      height: 100%;
      margin: 0;
      background-image: url("/assets/relax-bg.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; }
    main .relax ul {
      padding: 0;
      margin: 0 0 3rem 0; }
      main .relax ul li {
        background: url("/assets/checkmark.png") no-repeat left top;
        padding: 0.4rem 0 1.4rem 4.2rem;
        margin: 0;
        list-style: none;
        font-family: "Roboto Slab";
        font-size: 1.17rem;
        line-height: normal;
        letter-spacing: -0.025;
        color: #cccccc; }
  main .latest {
    padding: 7rem 0 7.5rem 0;
    text-align: left;
    background-image: url("/assets/ipad.png");
    background-repeat: no-repeat;
    background-position: right bottom; }
    main .latest h3 {
      text-align: left;
      font-family: "Montserrat";
      margin-bottom: 1.5rem; }
    main .latest .header-description {
      margin: 0 0 6rem 0;
      color: #777777; }
    main .latest .latest-box {
      padding-left: 16.9rem; }
    main .latest ul {
      padding: 0;
      margin: 1rem 0 1.5rem 0;
      display: inline-block; }
      main .latest ul li img {
        margin: 1rem 1.2rem 0 0; }
      main .latest ul li h3 {
        margin: 0.5rem 0 0 0; }
    main .latest .common-paragraph {
      font-size: 1.17rem;
      line-height: normal;
      letter-spacing: -0.025;
      font-family: "Roboto Slab";
      color: #777777;
      margin: 0;
      width: 33rem; }
    main .latest .details-url {
      display: block;
      color: #7cc576;
      font-size: 1.17rem;
      line-height: normal;
      letter-spacing: -0.025;
      background-image: url("/assets/arrow-rightg.png");
      background-repeat: no-repeat;
      background-position: right;
      padding: 0 0 0 0;
      margin: 1.6rem 0 0 0;
      text-transform: uppercase;
      font-weight: 600;
      font-family: "Montserrat";
      text-decoration: none;
      width: 10.5rem;
      height: 1.3rem; }
    main .latest .details-url:hover {
      color: #777777;
      background-image: url("/assets/arrow-rightb.png");
      background-repeat: no-repeat;
      background-position: right;
      padding: 0 0 0 0; }
  main .culture {
    background-color: #f9f9f9;
    padding: 7rem 0 7.2rem 0; }
    main .culture .horizontal-line {
      display: none; }
    main .culture .header-description {
      color: #777777; }
    main .culture .row {
      justify-content: center; }
    main .culture #vaules {
      flex-direction: row;
      align-items: center;
      padding-left: 2rem; }
      main .culture #vaules .col {
        width: 40%; }
    main .culture #pictures {
      flex-direction: column;
      margin: 6.2rem 0.5rem 1.8rem 2rem;
      width: 7rem; }
    main .culture #desciptions {
      flex-direction: column;
      width: 75%;
      margin: 4.4rem 0.5rem 1.8rem 0; }
      main .culture #desciptions .col {
        text-align: left;
        align-self: center;
        margin-bottom: 0.85rem;
        margin-top: 2rem; }
        main .culture #desciptions .col h3 {
          text-align: left; }
        main .culture #desciptions .col p {
          width: 87%; }
  main .clients {
    padding: 7rem 0 5.5rem 0;
    text-align: center; }
    main .clients .row {
      justify-content: center;
      align-items: middle; }
    main .clients .header-description {
      color: #777777;
      margin-bottom: 6.2rem; }
    main .clients .clients-image {
      border-radius: 50%;
      background-color: #f9f9f9;
      width: 16rem;
      height: 16rem;
      margin: 0 0 3rem 0;
      background-image: url("/assets/portrait.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; }
    main .clients .clients-quote {
      background-color: #f9f9f9;
      width: 47rem;
      height: 12.6rem;
      margin-bottom: 3rem; }
    main .clients .arrow-left {
      width: 0;
      height: 0;
      border-top: 9px solid transparent;
      border-bottom: 9px solid transparent;
      border-right: 15px solid #f9f9f9;
      margin-left: 2rem;
      margin-bottom: 3rem; }
    main .clients .arrow-right {
      width: 0;
      height: 0;
      border-top: 9px solid transparent;
      border-bottom: 9px solid transparent;
      border-left: 15px solid #f9f9f9;
      margin-right: 2rem;
      margin-bottom: 3rem; }
    main .clients .quote {
      margin: 0 3rem 0 3rem;
      padding: 2.8rem 0 0 0; }
      main .clients .quote .quote-author {
        margin-top: 1.1rem; }
  main .next-project {
    background-color: #7cc576;
    color: #ffffff;
    padding: 4.7rem 0 5.1rem 0; }
    main .next-project .btn-transparent {
      margin-top: 1.4rem; }
  main .partners {
    justify-content: center;
    align-items: middle; }
    main .partners .partners-logo {
      margin: 4.5rem 1.5rem 4.5rem 1.5rem; }
  main .latest-media {
    background-color: #222222;
    justify-content: center;
    align-items: flex-start;
    color: #ffffff;
    text-align: left;
    padding: 4.1rem 0 4.1rem 0; }
    main .latest-media .col {
      width: 25rem; }
    main .latest-media h3 {
      text-align: left;
      margin-bottom: 1.9rem; }
    main .latest-media li {
      justify-content: flex-start;
      margin: 0 0 1.2rem 0; }
      main .latest-media li .latest-media-icons {
        width: 1.8rem;
        margin-right: 1.2rem;
        align-self: flex-start; }
      main .latest-media li .latest-media-data {
        width: 80%;
        align-self: flex-start; }
    main .latest-media #latest-posts {
      margin: 0 2rem 0 0; }
      main .latest-media #latest-posts .latest-media-data {
        flex-grow: 1; }
  footer {
    align-items: middle;
    width: 100%;
    height: 7.4rem;
    align-items: center;
    justify-content: space-around !important;
    font-size: 1.024rem;
    line-height: 1.609rem;
    letter-spacing: -0.025; }
    footer .footer-text {
      text-align: center;
      font-family: "Montserrat"; }
    footer .col {
      width: 30%; }
    footer .social-media {
      justify-content: center; }
    footer .soc-ico {
      background-repeat: no-repeat;
      background-position: center center;
      width: 3rem;
      height: 3rem;
      margin: 0 0.4rem 0 0.4rem; }
    footer .twitter {
      background-image: url("/assets/twitterb.png"); }
    footer .twitter:hover {
      background-image: url("/assets/twitter.png"); }
    footer .facebook {
      background-image: url("/assets/facebookb.png"); }
    footer .facebook:hover {
      background-image: url("/assets/facebook.png"); }
    footer .pinterest {
      background-image: url("/assets/pinterestb.png"); }
    footer .pinterest:hover {
      background-image: url("/assets/pinterest.png"); }
    footer .google {
      background-image: url("/assets/googleb.png"); }
    footer .google:hover {
      background-image: url("/assets/google.png"); } }

@media screen and (min-width: 1024px) {
  header {
    height: 8.5rem;
    width: 70%;
    margin: auto;
    font-family: "Montserrat"; }
    header .logo {
      background-image: url("/assets/Logo.png");
      width: 10.5rem;
      height: 2.2rem; }
    header ul {
      display: block; }
      header ul li {
        display: inline;
        font-size: 1.024rem;
        line-height: 3rem;
        letter-spacing: 0;
        margin-left: 2.6rem;
        text-transform: uppercase;
        color: #777777; }
      header ul li:hover {
        color: #222222; }
    header .hamburger-menu {
      display: none; }
  main .title {
    background-color: #000000;
    background-image: url("/assets/title-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 7rem 0 7.5rem 0;
    box-sizing: border-box; }
    main .title h1 {
      font-size: 4.389rem;
      line-height: 4.754rem;
      letter-spacing: -0.05;
      color: #ffffff;
      margin: 0 0 1.8rem 0; }
    main .title .header-description {
      margin: 0 0 4rem 0; }
  main .services {
    padding: 7rem 0 7.5rem 0; }
    main .services .row {
      justify-content: center; }
      main .services .row .col {
        width: 22%; }
    main .services .header-description {
      margin: 0.5rem 0 6.3rem 0;
      color: #777777; }
    main .services h3 {
      color: #222222;
      margin: 2.6rem 0 0.8rem 0; }
    main .services .service-desc-box {
      color: #777777;
      width: 23rem;
      margin: auto;
      font-size: 1.024rem;
      line-height: normal;
      letter-spacing: -0.025; }
  main .relax {
    text-align: left;
    align-items: stretch; }
    main .relax .col {
      flex-grow: 1; }
    main .relax h2 {
      font-size: 2.926rem;
      line-height: normal;
      letter-spacing: -0.05;
      color: #ffffff;
      margin-bottom: 2.5rem;
      text-align: left; }
    main .relax .header-description {
      width: 50rem;
      text-align: left;
      margin-bottom: 1.7rem; }
    main .relax .gear-box {
      width: 30.76%;
      min-height: 40rem;
      background-color: #E9E9E9;
      background-image: url("/assets/gear.png");
      background-repeat: no-repeat;
      background-position: right; }
    main .relax .relax-box {
      padding: 7rem 0 7.5rem 7.3rem;
      width: 60%;
      height: 100%;
      margin: 0;
      background-image: url("/assets/relax-bg.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; }
    main .relax ul {
      padding: 0;
      margin: 0 0 3rem 0; }
      main .relax ul li {
        background: url("/assets/checkmark.png") no-repeat left top;
        padding: 0.4rem 0 1.4rem 4.2rem;
        margin: 0;
        list-style: none;
        font-family: "Roboto Slab";
        font-size: 1.17rem;
        line-height: normal;
        letter-spacing: -0.025;
        color: #cccccc; }
  main .latest {
    padding: 7rem 0 7.5rem 0;
    text-align: left;
    background-image: url("/assets/ipad.png");
    background-repeat: no-repeat;
    background-position: right bottom; }
    main .latest h3 {
      text-align: left;
      font-family: "Montserrat";
      margin-bottom: 1.5rem; }
    main .latest .header-description {
      margin: 0 0 6rem 0;
      color: #777777; }
    main .latest .latest-box {
      padding-left: 16.9rem; }
    main .latest ul {
      padding: 0;
      margin: 1rem 0 1.5rem 0;
      display: inline-block; }
      main .latest ul li img {
        margin: 1rem 1.2rem 0 0; }
      main .latest ul li h3 {
        margin: 0.5rem 0 0 0; }
    main .latest .common-paragraph {
      font-size: 1.17rem;
      line-height: normal;
      letter-spacing: -0.025;
      font-family: "Roboto Slab";
      color: #777777;
      margin: 0;
      width: 33rem; }
    main .latest .details-url {
      display: block;
      color: #7cc576;
      font-size: 1.17rem;
      line-height: normal;
      letter-spacing: -0.025;
      background-image: url("/assets/arrow-rightg.png");
      background-repeat: no-repeat;
      background-position: right;
      padding: 0 0 0 0;
      margin: 1.6rem 0 0 0;
      text-transform: uppercase;
      font-weight: 600;
      font-family: "Montserrat";
      text-decoration: none;
      width: 10.5rem;
      height: 1.3rem; }
    main .latest .details-url:hover {
      color: #777777;
      background-image: url("/assets/arrow-rightb.png");
      background-repeat: no-repeat;
      background-position: right;
      padding: 0 0 0 0; }
  main .culture {
    background-color: #f9f9f9;
    padding: 7rem 0 7.2rem 0; }
    main .culture .header-description {
      color: #777777; }
    main .culture #vaules {
      justify-content: center; }
    main .culture #pictures {
      justify-content: center;
      margin: 6.2rem 0.5rem 1.8rem 0;
      width: 100%; }
    main .culture #desciptions {
      justify-content: center;
      width: 100%; }
      main .culture #desciptions .col {
        width: 20%;
        text-align: center; }
        main .culture #desciptions .col p {
          margin: auto;
          width: 87%; }
  main .clients {
    padding: 7rem 0 5.5rem 0;
    text-align: center; }
    main .clients .row {
      justify-content: center;
      align-items: middle; }
    main .clients .header-description {
      color: #777777;
      margin-bottom: 6.2rem; }
    main .clients .clients-image {
      border-radius: 50%;
      background-color: #f9f9f9;
      width: 16rem;
      height: 16rem;
      margin: 0 0 3rem 0;
      background-image: url("/assets/portrait.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; }
    main .clients .clients-quote {
      background-color: #f9f9f9;
      width: 47rem;
      height: 12.6rem;
      margin-bottom: 3rem; }
    main .clients .arrow-left {
      width: 0;
      height: 0;
      border-top: 9px solid transparent;
      border-bottom: 9px solid transparent;
      border-right: 15px solid #f9f9f9;
      margin-left: 2rem;
      margin-bottom: 3rem; }
    main .clients .arrow-right {
      width: 0;
      height: 0;
      border-top: 9px solid transparent;
      border-bottom: 9px solid transparent;
      border-left: 15px solid #f9f9f9;
      margin-right: 2rem;
      margin-bottom: 3rem; }
    main .clients .quote {
      margin: 0 3rem 0 3rem;
      padding: 2.8rem 0 0 0; }
      main .clients .quote .quote-author {
        margin-top: 1.1rem; }
  main .next-project {
    background-color: #7cc576;
    color: #ffffff;
    padding: 4.7rem 0 5.1rem 0; }
    main .next-project .btn-transparent {
      margin-top: 1.4rem; }
  main .partners {
    justify-content: center;
    align-items: middle; }
    main .partners .partners-logo {
      margin: 4.5rem 1.5rem 4.5rem 1.5rem; }
  main .latest-media {
    background-color: #222222;
    justify-content: center;
    align-items: flex-start;
    color: #ffffff;
    text-align: left;
    padding: 4.1rem 0 4.1rem 0; }
    main .latest-media .col {
      width: 25rem; }
    main .latest-media h3 {
      text-align: left;
      margin-bottom: 1.9rem; }
    main .latest-media li {
      justify-content: flex-start;
      margin: 0 0 1.2rem 0; }
      main .latest-media li .latest-media-icons {
        width: 1.8rem;
        margin-right: 1.2rem;
        align-self: flex-start; }
      main .latest-media li .latest-media-data {
        width: 80%;
        align-self: flex-start; }
    main .latest-media #latest-posts {
      margin: 0 2rem 0 0; }
      main .latest-media #latest-posts .latest-media-data {
        flex-grow: 1; }
  footer {
    align-items: middle;
    width: 100%;
    height: 7.4rem;
    align-items: center;
    justify-content: space-around !important;
    font-size: 1.024rem;
    line-height: 1.609rem;
    letter-spacing: -0.025; }
    footer .footer-text {
      text-align: center;
      font-family: "Montserrat"; }
    footer .col {
      width: 30%; }
    footer .social-media {
      justify-content: center; }
    footer .soc-ico {
      background-repeat: no-repeat;
      background-position: center center;
      width: 3rem;
      height: 3rem;
      margin: 0 0.4rem 0 0.4rem; }
    footer .twitter {
      background-image: url("/assets/twitterb.png"); }
    footer .twitter:hover {
      background-image: url("/assets/twitter.png"); }
    footer .facebook {
      background-image: url("/assets/facebookb.png"); }
    footer .facebook:hover {
      background-image: url("/assets/facebook.png"); }
    footer .pinterest {
      background-image: url("/assets/pinterestb.png"); }
    footer .pinterest:hover {
      background-image: url("/assets/pinterest.png"); }
    footer .google {
      background-image: url("/assets/googleb.png"); }
    footer .google:hover {
      background-image: url("/assets/google.png"); } }
